﻿<h1>Общий список книг</h1>

<p *ngIf="!booksAndCategories"><em>Loading...</em></p>
<div class="row">
    <div class="table-responsive">
        <table class='table' *ngIf="booksAndCategories">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Жанр</th>
                    <th>
                        Action
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bookAndCategory of booksAndCategories">
                    <td>{{ bookAndCategory.bookName }}</td>
                    <td>{{ bookAndCategory.categoryName }}</td>
                    <td>
                       
                        <a href="../editBook/{{bookAndCategory.bookId}}/{{bookAndCategory.bookName}}/{{ bookAndCategory.categoryId }}"
                           class="btn btn-success">
                            Редактировать
                        </a>
                        <button class="btn btn-danger" (click)="delete(bookAndCategory.bookId)">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>