﻿<h1>Добавить новую книгу</h1>
<p *ngIf="!categories"><em>Loading...</em></p>

<div class="row">
    <div class="col-md-12">
        <div class="row hidedata" id="hidDiv">
            <div class="col-md-6 ">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Наименование</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" [(ngModel)]="infoBook.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Категория</label>
                        <div class="col-sm-8">
                            <select  class="form-control" name="categoty" [(ngModel)]="infoBook.categoryId"  ng-init="1">
                                <option *ngFor="let category of categories"  value={{category.id}} >
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-info" (click)="add()">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>   